In [1]:
import random

In [6]:
random.randrange(1,7)

5

In [7]:
random.randrange(1,7)

4

In [8]:
names = ['Ann', 'Bob', 'Cal', 'Dee', 'Eve', 'Flo', 'Hal', 'Ike']

In [9]:
random.shuffle(names)

In [10]:
names

['Bob', 'Flo', 'Eve', 'Hal', 'Ike', 'Cal', 'Dee', 'Ann']

In [11]:
random.choice(names)

'Hal'

In [12]:
random.sample(names,5)

['Eve', 'Hal', 'Ike', 'Dee', 'Ann']

In [13]:
squares = []
for x in range(10):
    squares.append(x**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
 squares = [x**2 for x in range(10) if x > 5]

In [17]:
squares

[36, 49, 64, 81]

In [18]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [28]:
sm = sum([x for x in range(1,101) if x%2==0])

In [29]:
sm

2550

In [34]:
raise Exception

Exception:

In [35]:
raise ZeroDivisionError

ZeroDivisionError:

In [36]:
raise Exception("problem")

Exception: problem

In [38]:
a = [1,2,3,4,54,6,6]

In [39]:
sum(a)

76

In [48]:
def func(n):
    res= []
    for i in range (1,n+1):
        if n % i == 0:
            res.append(i)
print(res)

[1, 2, 3, 6]

In [49]:
l = [[1,2],[3,4]]

In [50]:
l

[[1, 2], [3, 4]]

In [51]:
l[1][0]

3

In [55]:
x=5
y="5"

In [56]:
x==y

False

In [58]:
x==y

False

In [60]:
employee = {
    '864-20': ['Arm', 'Spartyan'],
    '987-65': ['Vlad', 'Tundyan'],
    '100-01': ['Kiazh', 'Damyan']}

In [62]:
type(employee)

dict

employee

In [63]:
employee

{'100-01': ['Kiazh', 'Damyan'],
 '864-20': ['Arm', 'Spartyan'],
 '987-65': ['Vlad', 'Tundyan']}

In [66]:
employee["100-01"] = 'Sparta'

In [67]:
employee

{'100-01': 'Sparta',
 '864-20': ['Arm', 'Spartyan'],
 '987-65': ['Vlad', 'Tundyan']}

In [68]:
d ={}

In [69]:
type(d)

dict

In [70]:
d['key']='value'

In [71]:
d

{'key': 'value'}

In [72]:
class Example:
    pass

In [75]:
x = Example()

In [76]:
type(x)

__main__.Example

In [77]:
e = dict()

In [78]:
type(e
    
    
    )

dict

In [79]:
x = list()

In [80]:
days = {'Mo':1, 'Tu':2, 'W':3}

days2 = {'Tu':2, 'Fr':5}

In [82]:
'Mo' in days

True

In [83]:
days.values

In [84]:
days.values()

dict_values([1, 2, 3])

In [88]:
def frequency(itemList):
    'returns frequency of items in itemList'

    counters = {}
    for item in itemList:
        if item in counters: # increment item counter
            counters[item] += 1
        else: # create item counter
            counters[item] = 1
    return counters

grades = [95, 96, 100, 85, 95, 90, 95, 100, 100]
#frequency(grades)

In [89]:

def frequency(s):
    

    counters = {}
    for item in s.split():
        if item in counters: # increment item counter
            counters[item] += 1
        else: # create item counter
            counters[item] = 1
    return counters

In [91]:
x = ()

In [92]:
type(x)

tuple

In [93]:
x=('a','b',5)

In [94]:
t = [('a', 10), ('c', 22), ('b', 1)]

In [95]:
t

[('a', 10), ('c', 22), ('b', 1)]

In [96]:
tt = sorted

In [97]:
tt = sorted(t)

In [98]:
tt

[('a', 10), ('b', 1), ('c', 22)]

In [99]:
t

[('a', 10), ('c', 22), ('b', 1)]

In [100]:
x = {1,2,3,4,5,6,7,8,9,1,1,1,1,1,1,1,1,1,1,1,12,22,2,2,2,}

In [101]:
x

{1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 22}

In [102]:
import collections

In [105]:
collections.abc

In [107]:
collections.Mapping

collections.abc.Mapping